@import './reset.css';

/*
* Layout
*/
.content {
    display: flex;
    min-height: 100%;
    padding-top: 94px;
    max-width: 80%;
    margin: 0 auto;
}

.content-side {
    flex: 1;
    margin: 32px auto;
}

.content-side-right img { margin: 0 32px; }

.content-side-left { position: relative; }

.content-side-left,
.content-side-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entertainment-bg {
    background-size: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9%;
    background-repeat: no-repeat;
    background-image: url(./assets/undraw_movie_night_93wl.svg); 
}

.wave-bg {
    background-image: url(./assets/bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 105vh;
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: -2;
}

.titles-container { display: flex; }

.gaming-img-container {
    display: flex;
    width: 145px;
    position: relative;
    animation-duration: .8s;
    animation-delay: .3s;
    animation-name: come-in-from-top;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.gaming-img {
    pointer-events: none;
    width: 145px;
    height: 100px;
    transform: rotate(5deg);
    transition: transform .8s cubic-bezier(0.19, 1, 0.22, 1);
}

/*
* Header
*/
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 94px;
    width: 100%;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 5;
}

.header-button-twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: border-color .4s cubic-bezier(0.19, 1, 0.22, 1)
}

.header-button-twitter:hover { border-color: #7C8FB5; }

.header-button-twitter svg path { transition: fill .8s cubic-bezier(0.19, 1, 0.22, 1); }

.header-button-twitter:hover svg path { fill: #38A1F3; }

/*
* Fancy titles & text block
*/
.title { 
    margin: 8px 0;
    max-width: 250px;
}

.future-title { 
    max-width: 250px;
    animation-duration: .8s;
    animation-name: come-in-from-top;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.bytetime-title {
    animation-delay: .2s;
    animation-duration: .8s;
    animation-name: come-in-from-top;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.information {
    margin: 32px 0;
    font-size: 1.2em;
    font-family: Raleway;
    animation-delay: .4s;
    animation-duration: .8s;
    animation-name: come-in-from-top;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.information p { 
    margin: 12px 0;
    font-weight: 500;
}

.rocket-image {
    animation-delay: .2s;
    animation-duration: .8s;
    animation-name: come-in-from-bottom;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

/*
* Platform buttons
*/
.s-buttons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-name: come-in-from-top;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.s-button {
    box-shadow: -10px 9px 21px rgba(128, 152, 213, .07);
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    padding: 12px 20px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    margin: 12px 0;
    min-width: 150px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-button:hover {
    background-image: linear-gradient(to right, rgb(40, 161, 212), rgb(69, 196, 243));
    color: #fff;
}

.s-button:hover  svg path { fill: #fff; }

.s-button-svg {
    width: 24px;
    height: auto;
}

/*
* Transitions & Animations
*/
@keyframes come-in-from-top {
    from {
        opacity: 0;
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes come-in-from-bottom {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

/*
* Media Queries
*/
@media(max-width: 1160px) {
    .content { flex-direction: column-reverse; }

    .content-side { margin: 8px auto; }

    .content-side-right {
        flex: .5;
        max-width: 500px;
    }

    .content-side-right img { max-height: 220px; }

    .information { max-width: none; }
}

@media(max-width: 800px) { 
    .gaming-img-container,
    .entertainment-bg,
    .content-side-right { display: none; }

    .content-side { margin: 32px auto; }

    .wave-bg { background-position: 50%; }

    .content,
    .header  { max-width: 90%; }
}

@media (max-width: 620px) {
    .s-buttons-container { justify-content: space-around; }
}

@media (min-width: 1160px) {
    .content-side-left { max-width: 600px; }
}