/*
* Reset
*/
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  background-color: #f5f6fa;
  color: #7c8fb5;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body,
html {
  height: 100%;
}

html,
body,
div p,
a,
img,
footer,
header {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

img {
  border: 0;
}

img,
svg {
  max-width: 100%;
  object-fit: contain;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

svg path {
  fill: #b0bfde;
}

::selection {
  background: rgba(124, 143, 181, 0.8);
  color: #fff;
}

/*
* Layout
*/
body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 34px;
}

.entertainment-bg {
  position: fixed;
  background-repeat: no-repeat;
  background-image: url(./assets/undraw_movie_night_93wl.svg);
  background-size: 10%;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9%;
  z-index: -1;
}

.wave-bg {
  background-image: url(./assets/bg.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 105vh;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

/*
* Header
*/
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  height: 94px;
  width: 100%;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.header-button-twitter,
.header-button-discord {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: border-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 0.9em;
  margin-left: 16px;
}

.header-button-discord:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: border-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.header-button-twitter:hover {
  border-color: #7c8fb5;
}
.header-button-discord:hover {
  border-color: #7c8fb5;
}

.header-button-twitter svg path,
.header-button-discord:hover svg path {
  transition: fill 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.header-button-discord:hover svg path {
  fill: #7289da;
}
.header-button-twitter:hover svg path {
  fill: #38a1f3;
}

/*
* Footer
*/
.footer {
  font-size: 0.9em;
  font-weight: 500;
  height: 36px 4px;
  text-align: center;
  padding: 8px 0;
}

.footer a,
.content a {
  border-bottom: 1px solid transparent;
  transition: border-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.footer a:hover,
.content a:hover {
  border-color: #7c8fb5;
}

.content a {
  color: #0dabdf;
}

/*
* Teamspeak stuff
*/

.ts3-title {
  font-weight: 400;
}

.content-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-title img {
  max-width: 300px;
}

.content-title span {
  margin-top: 14px;
}

.content h1,
.content h2 {
  font-weight: 500;
  margin: 0;
}

.t-svg {
  max-width: 200px;
}

/*
* Media Queries
*/
@media (max-width: 800px) {
  .entertainment-bg,
  .wave-bg {
    background-position: 50%;
  }

  .content,
  .header {
    max-width: 90%;
  }
}

@media (max-height: 590px) and (orientation: landscape) {
  .wave-bg {
    background-position: right;
  }

  .content {
    display: block;
  }
}

/*
* Utils
*/
.text-center {
  text-align: center;
}
